
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Produtos</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Categ</th>
                <th>Desc</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Produtos)
            {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>@item.Preco</td>
                <td>@item.Categ</td>
                <td>@item.Desc</td>
            </tr>
            }
        </tbody>
    </table>

    <form action="/Produto/Insere" method="post">
        <input type="hidden" name="campo" value="Mouse"/>
        <input type="submit" value="Enviar"/>
    </form>
</body>
</html>
